.expenseCategoryBox{
    display: block;
}
.expenseBoxes{
    display: flex;
}
.expenseBox{
    width: 200px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey
}